<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header::header"></header>


<div class="container mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h1>Обращения пользователей</h1>

    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Телефон</th>
            <th scope="col">E-mail</th>
            <th scope="col">Тема</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="el: ${users}" >
            <tr>
                <td><h5 th:text="${el.id}" /></td>
                <td><h5 th:text="${el.firstName}" /></td>
                <td><h5 th:text="${el.lastName}"/></td>
                <td><h5 th:text="${el.phone}" /></td>
                <td><h5 th:text="${el.email}" /></td>
                <td><h5 th:text="${el.theme}" /></td>
                <td><h5 th:text="${el.wish}" /></td>
            </tr>

        </div>
        </tbody>
    </table>


</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>